@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  ::-webkit-scrollbar {
    height: 0.5rem;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e9e9e9;
  }
  color: rgb(var(--foreground-rgb));
  transition: background 0.3s ease;
  background-color: #f3f3f3;
}

.dark body {
  background-color: #22333b;
  color: #fff;
}

.dark body ::-webkit-scrollbar-thumb {
  background: #666;
}

@media screen and (max-width: 1024px) {
  .dark body button.category {
    background-color: #666;
    color: #fff;
  }
  .dark body button.category.selection {
    background-color: rgb(96 165 250 / var(--tw-bg-opacity));
    color: #fff;
  }
}

.dark body .tag {
  background-color: #666;
  color: #fff;
}

.dark body .prose,
.dark body .prose h1,
.dark body .prose h2,
.dark body .prose h3,
.dark body .prose h4,
.dark body .prose h5,
.dark body .prose h6,
.dark body .prose strong,
.dark body .prose time,
.dark body .prose code,
.dark body .prose blockquote {
  color: #fff;
}

.dark body svg {
  fill: #fff;
}
